.login-menu{
    display: flex;
}

.login-menu li{
    margin-left: 25px;
    list-style-type:none;
}

.login-menu li a{
    text-decoration: none;
}
.heading{
    color: orange;
    text-align: center;
    margin-top: 45px;
}